<!doctype html>
<html class="no-js" ng-app="app" >
  <head>
    <meta charset="utf-8">
    <title>webapp</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/platform/platform.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <link href="bower_components/font-roboto/roboto.html" rel="import">
    <link href="bower_components/paper-button/paper-button.html" rel="import">
    <link rel="import" href="/bower_components/core-toolbar/core-toolbar.html">
    <link rel="import" href="/bower_components/core-menu/core-menu.html">
    <link rel="import" href="/bower_components/core-menu-button/core-menu-button.html">
    <link rel="import" href="/bower_components/core-item/core-item.html">
    <link rel="import" href="/bower_components/core-toolbar/core-toolbar.html">
    <link rel="import" href="/bower_components/core-header-panel/core-header-panel.html">
    <link rel="import" href="/bower_components/core-icons/core-icons.html">
    <link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="/bower_components/core-scaffold/core-scaffold.html">
    <link rel="import" href="/bower_components/core-iconset-svg/core-iconset-svg.html">
    <link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
    <link rel="import" href="/bower_components/paper-toast/paper-toast.html">
    <link rel="import" href="/bower_components/x-fontawesome/dist/x-fontawesome.html">
    <link rel="import" href="greeting-tag.html">
  </head>
  <body fullbleed unresolved>
  <core-scaffold>

  <core-header-panel navigation flex>
    <core-toolbar id="navheader">
      <span>Menu</span>
    </core-toolbar>
    <core-menu>
      <core-item label="One"></core-item>
      <core-item label="Two"></core-item>
    </core-menu>
  </core-header-panel>
  
  <span tool>Title</span>

  <div class="content">
  	<section>
  		<style>
			core-icon[icon="fontawesome-icons:fa-camera"] {
				fill: #56BA89;
				height:128px;
				width:128px;
			}
		</style>
  		<x-fontawesome></x-fontawesome>
		<core-icon icon="fontawesome-icons:fa-camera" ></core-icon>
  	</section>
  	<section>
  		<paper-dialog toggle-model-variable="showNgDialog" id="dialog2" heading="Launch?"
			transition="paper-dialog-transition-bottom">
			<p>This app would like to launch a small, unmanned vehicle
				into space.</p>
			<paper-button label="Cancel" dismissive ng-click="showNgDialog=false"></paper-button>
			<paper-button label="OK" affirmative default ng-click="showNgDialog=false"></paper-button>
		</paper-dialog>
  		<paper-button raisedButton class="colored" label="Polymer/Angular Dialog" ng-click="showNgDialog=true"></paper-button>
  	</section>
  	<section>
  		<greeting-tag></greeting-tag>
  	</section>
  	<section>
  		<div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1>Hello {{yourName}}!</h1>
    </div>
  	</section>
  	<paper-toast id="toast1" text="{{yourName}}"></paper-toast>
  	<section>
  		<paper-button raisedButton class="colored" label="Toast" onclick="document.querySelector('#toast1').show()"></paper-button>
  	</section>
  	
  	<paper-dialog id="dialog" heading="Launch?"
              transition="paper-dialog-transition-bottom">
		  <p>This app would like to launch a small, unmanned vehicle
		     into space.</p>
		  <paper-button label="Cancel" dismissive></paper-button>
		  <paper-button label="OK" affirmative default></paper-button>
		</paper-dialog>
  	<section>
  		<paper-button raisedButton class="colored" label="Dialog" onclick="toggleDialog('paper-dialog-transition-bottom')"></paper-button>
  		<script>
		    function toggleDialog(transition) {
		      var dialog = document.querySelector('paper-dialog[transition=' + transition + ']');
		      dialog.toggle();
		    }
		  </script>
  	</section>
      <section>
  		<core-icon-button icon="av:play-arrow"></core-icon-button>
  		<core-menu-button icon="menu">
			<core-item icon="settings" label="Settings"></core-item>
		</core-menu-button>
<style type="text/css">
		  core-icon circle {
		    fill: #0b50bf;
		  }
		  core-icon circle:first-child {
		    fill: #66bbff;
		  }
		  core-icon circle:last-child {
		    fill: #0083ff;
		  }
		  core-icon[icon="custom-icons:fancy-circles"] {
				height:512px;
				width:512px;
			}
		</style>
	  	<core-iconset-svg id="custom-icons" iconSize="50">
		  <svg>
		    <defs>
		      <g id="fancy-circles">
		        <circle cx="25" cy="25" r="18" />
		        <circle cx="12" cy="12" r="10" />
		        <circle cx="35" cy="40" r="6" />
		      </g>
		    </defs>
		  </svg>
		</core-iconset-svg>
		<core-icon icon="custom-icons:fancy-circles"></core-icon>
	  </section>
	  <section>
	    <style>
			core-icon[icon="settings"] {
				fill: #526E9C;
				height:256px;
				width:256px;
			}
		</style>
	  	<core-icon icon="settings"></core-icon>
	  </section>
      <section>
	    <div>Raised buttons</div>
	    <paper-button raisedButton label="button" z-height="0"></paper-button>
	    <paper-button raisedButton class="colored" label="colored"></paper-button>
	     <paper-button raisedButton focused label="focused"></paper-button>
	    <paper-button raisedButton disabled label="disabled" onclick="alert('should not be clickable');"></paper-button>
	  </section>
  </div>
</core-scaffold>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <script src="scripts/components.js"></script>
        <script src="scripts/app.js"></script>
        <!-- endbuild -->
</body>
</html>
